html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Disable horizontal scroll */

}

#name-and-pos{
    margin-top: -50px;
    width: 50% 
} 

#my-name {
    font-family: monospace;
    font-size: 95px;
    color: #252525;
}
#my-last-name {
    font-family: monospace;
    font-size: 50px;
    color: #252525;
}

#contact{
    margin-top: -200px;
    margin-left: 55%; 
    width: 50%; 
    padding-bottom: 50px;
} 

#social-link{
    font-family: monospace;
    font-size: 16px;
    color: #252525;
    margin-left: 10%; 
} 

h3{
    font-family: monospace;
    font-size: 30px;
    color: #8c8c8c;
    margin: -60px 0;
    padding-bottom: 50px;
}

h4{
    font-family: monospace;
    font-size: 40px;
    color: #5c5c5c;
}

p{
    font-family: monospace;
    font-size: 14px;
    color: #252525;
    line-height: 25px;
    text-align: justify;
    padding-right: 100px;
}

#text-link{
    font-family: monospace;
    font-size: 14px;
    color: #252525;
    line-height: 25px;
}

.place-of-study{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    color: #252525;
}

.years-of-study{
    font-family: monospace;
    font-size: 16px;
    font-weight: lighter;
    color: #5c5c5c;
}

.side {
    height: 100%; /* Full screen height */
    width: 20%; /*fifth of screen */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #464646;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /*space from top to first element*/

}

.side .jumpLink {
    padding: 10px 20px 10px 20px;
    padding-left: 10%;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color: #a4a4a4;
    display: block;
}

.side .jumpLink:hover {
    color: #ffffff;
}

.collapsed-side {
    height: 100%; /* Full screen height */
    width: 5%; /*0.05 of screen */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #464646;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.language {
    height: 35px; 
    width: 50px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 30px; /* Stay at the top */
    margin-left: 90%;
    background-color: #46464600;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */

}

#language-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: #ffffff00;
}


.main {
    margin-left: 20%; /* Same as the width of the sidebar */
    padding-left: 20px; /*left padding*/
    padding-top: 20px; /*space from top to first element*/
    background-color: #ffffff;
}



 